<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mad Libs</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body bgcolor="red">
    <!-- CSS and JS -->
    <link href="/static/index.css" rel="stylesheet" />
    <script src="/static/index.js"></script>

    <div class="container">
        <!-- Heading -->
        <div class="row" style="padding: 20px;">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center p-5">
                <img src="/static/assets/Group.png" width="100px" class="display_inline" />
                <h1 id="story_title" class="display_inline"></h1>
                <img src="/static/assets/Frame-4.png" width="100px" class="display_inline" />
            </div>
        </div>
        <!-- Word Bank -->
        <div class="row" style="padding: 30px;">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center mb-5" id="word_bank_container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <h1>Word Search</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="bank_words">

                    </div>
                </div>
            </div>
        </div>
        <div class="row-text-container">
            <div class="col-sm-4 text-center" id="letters"></div>
            <button type="button" id="a" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;" >a</button>
            <button type="button" id="b" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">b</button>
            <button type="button" id="c" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">c</button>
            <button type="button" id="d" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">d</button>
            <button type="button" id="e" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">e</button>
            <button type="button" id="f" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">f</button>
            <button type="button" id="g" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">g</button>
            <button type="button" id="h" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">h</button>
            <button type="button" id="i" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">i</button>

            <button type="button" id="j" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">j</button>
            <button type="button" id="k" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">k</button>
            <button type="button" id="l" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">l</button>
            <button type="button" id="m" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">m</button>
            <button type="button" id="n" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">n</button>
            <button type="button" id="o" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">o</button>
            <button type="button" id="p" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">p</button>

            <button type="button" id="q" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">q</button>
            <button type="button" id="r" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">r</button>
            <button type="button" id="s" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">s</button>
            <button type="button" id="t" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">t</button>
            <button type="button" id="u" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">u</button>
            <button type="button" id="v" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">v</button>
            <button type="button" id="w" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">w</button>
            <button type="button" id="w" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">x</button>
            <button type="button" id="x" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">y</button>
     
            <button type="button" id="z" class="btn btn-outline-primary-clickable" style="text-emphasis: circle;
            color: #91c4d2;
            font-size: 20px;
            background-color: blanchedalmond;">z</button>
        </div>
<br><br>
        <input type="text"><br><br>
        <textarea height="200" width="200"></textarea>
        <div class="row text-center">
            <div class="col-sm-4 text-center">
                <span>Life:</span>
                <span id="life">5</span>
            </div>

        </div>
        <!-- Result -->
        <div class="row p-5 hidden" id="result_container" style="padding: 50px;">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div>
                    <h1>Hint</h1>
                </div>
             
        <div class="row text-center">
            <div class="col-sm-4-text-center"></div>
            <p id="blank"></p>
        </div>
        <!-- Button -->
        <div class="row p-5">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <input type="hidden" id="story_id" />
                <button id="submit_story">Submit</button>

            </div>
        </div>
 
</body>

</html>